a {
	font: "times new roman", serif;
	color: darkblue;
}
/*p {
	font: "times new roman", serif;
	font-size: 28px;
} */

#dis {
	background-color: yellow;
}

.box,
.ingredientB,
.steps,
.ingredientSubB {
	border: 10px;
	padding: 10px;
	border-style: solid;
}

.box {
	border-width: 5px;
}

.ingredientB {
	padding: 20px;
	width: auto;
	margin: 0px;
}

.ingredientSubB {
	border-width: 5px;
	width: auto;
	margin-bottom: 10px;
}

div {
	padding: 20px;
	width: 150px;
	border-style: sold;
}
.steps {
	border-style: dashed;
}
h2 {
	font-family: "Trebuchet MS", sans-serif;
	letter-spacing: -2px;
	border-bottom: 2px solid black;
	width: auto;
	text-transform: uppercase;
}
body {
	background-color: #e6e6e6;
}
